<div>
    <h3 class="p-text-center">Entre em contato através das redes sociais abaixo</h3>
    <div class="p-fluid p-text-center p-mt-2 p-mb-2 p-p-2">
        <button pButton class="p-button-rounded p-button-help p-button-icon-only p-mr-2 p-mb-2"
            icon="pi pi-fw pi-linkedin" aria-label="Linkedin" title="Linkedin"></button>
        <button pButton class="p-button-rounded p-button-help p-button-icon-only p-mr-2 p-mb-2"
            icon="pi pi-fw pi-github" aria-label="Github" title="Github"></button>
        <button pButton class="p-button-rounded p-button-help p-button-icon-only p-mr-2 p-mb-2"
            icon="pi pi-fw pi-whatsapp" aria-label="Contato whatsapp" title="Telefone"></button>
        <button pButton class="p-button-rounded p-button-help p-button-icon-only p-mr-2 p-mb-2" icon="pi pi-fw pi-at"
            aria-label="Contato Gmail" title="Email"></button>
    </div>

</div>