<div class="p-card p-p-4">
    <h2>Meus Projetos</h2>

    <p-dataView #dv [value]="projects">
        <ng-template let-project pTemplate="listItem">
            <div class="p-col-12">
                <div class="p-d-flex p-dir-row p-ai-xl-start p-p-4 gap-4">
                    <img class="p-col-1 p-sm-2 p-xl-1 p-shadow-2 p-d-xl-block border-rounded"
                        [src]="'../../assets/images/' + project.name + '.jpeg'" [alt]="project.name" />
                    <div class="p-d-flex p-dir-col p-ai-center p-ai-xl-start p-jc-between flex-1 gap-3 p-pt-3">
                        <div class="p-text-bold">{{ project.name }}</div>
                        <div class="p-d-flex p-ai-center">
                            <span class="p-d-flex p-ai-center gap-2">
                                <span class="font-semibold">{{ project.description }}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>

</div>