/* You can add global styles to this file, and also import other style files */
@import '~primeflex/primeflex.css';
@import "primeicons/primeicons.css";

body {
    margin: 0;
    overflow-x: hidden;
}

.gap-4 {
    gap: 1.5rem;
}

.gap-3 {
    gap: 1rem;
}

.gap-2 {
    gap: 0.5rem;
}